<!-- 
    The footer.ejs file is used as a template for most of the other
    pages on the website. The footer is comprised of a section
    with links to socials for Mayo Clinic. The footer also contains
    the current year (this changes automatically to the current year)
    as well as the authors of the web application that this footer is 
    a part of.
    ...
    Project: Mayo Clinic Patient Care Manager 
             (PCM) Web Application
    Author: Andrew Krause
    Class: Introduction to Database 
           Management Systems (CS 364)
    Date: 5/10/2022
    ...
-->
<!-- Footer with name and dynamic year -->
<footer id="footer" data-visible="true">
    <div class="footer-row">
        <p class="footer-content">Copyright &copy CS 364 by Andrew Krause <%= new Date().getFullYear() %></p>
        <ul class="footer-icons">
            <li>
                <a class="footer-icon" style="font-size: 16px !important;" href="https://twitter.com/mayoclinic" target="_blank">
                    <i class="fa-brands fa-2x fa-twitter"></i>
                </a>
            </li>
            <li>
                <a class="footer-icon" style="font-size: 16px !important;" href="https://www.facebook.com/MayoClinic" target="_blank">
                    <i class="fa-brands fa-2x fa-facebook-square"></i>
                </a>
            </li>
            <li>
                <a class="footer-icon" style="font-size: 16px !important;" href="https://www.youtube.com/user/mayoclinic" target="_blank">
                    <i class="fa-brands fa-2x fa-youtube"></i>
                </a>
            </li>
            <li>
                <a class="footer-icon" style="font-size: 16px !important;" href="https://www.linkedin.com/company/mayo-clinic" target="_blank">
                    <i class="fab fa-2x fa-linkedin"></i>
                </a>
            </li>
            <!-- <i class="white-text footer-icon fas fa-envelope"></i></p> -->
        </ul>
    </div>
</footer>

<!-- Include a link to the JavaScript file. -->
<!-- <script src="../../javascript/temporary.js"></script> --> <!-- UNCOMMENT THIS IF YOU DECIDE TO USE THE JAVASCRIPT FILE!!! -->

<!-- If you include a link to the JQuery CDN, this should go near the bottom of the page. -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js" type="text/javascript"></script>
</body>

</html>