<!-- 
    The about.ejs file provides a simple 
    description of the web application as
    well as the different features associated
    with the website. A downloadable version
    of the project document is also provided
    in the about page of the Mayo Clinic PCM
    web app.
    ...
    Project: Mayo Clinic Patient Care Manager 
             (PCM) Web Application
    Author: Andrew Krause
    Class: Introduction to Database 
           Management Systems (CS 364)
    Date: 5/10/2022
    ...
-->

<%- include('./partials/header.ejs') %>

    <!-- Section for the picture on the webpage -->
    <section id="about-page" >
        <div class="fade-in">
            <!-- Create a card to contain the information on the page -->
            <div class="about-card">
                <!-- Create a "close" icon to go back to the home page -->
                <a class="close-container" href="/home">
                    <span class="about-close">
                        <i class="fa-solid fa-solid-top fa-xmark fa-2x" aria-hidden="true"></i>
                    </span>                            
                </a>
                <h1 class="about-heading">About this Application</h1>
                <p class="about-text">
                    The Mayo Clinic Patient Care Manager (PCM) was created as part of a final project
                    for my Introduction to Database Management Systems (CS 364) class at the 
                    <a class="pcm-link" href="https://www.uwlax.edu/" target="_blank">University of Wisconsin - La Crosse</a>. 
                    The course taught me how to use <a class="pcm-link" href="https://www.w3schools.com/sql/sql_intro.asp" target="_blank">Structured
                    Query Language (SQL)</a> to create robust databases that store information efficiently.
                    <br>
                    <br>
                    This project is a simple web application that is connected to a SQL database on the 
                    backend, which contains hospital-related data. The four main entity types, that are 
                    displayed within the <a class="pcm-link" href="/views">"View"</a> page of the website, 
                    include Patient, Treatment, Provider, and Department. Users can view each entry for each 
                    entity type. Data can also be creatd, edited, and removed through the interface on the 
                    web application. 
                    <br>
                    <br>
                    An important view of the data is the <a class="pcm-link" href="/statistics">"Statistics"<a/> view, 
                    which utilizes complex queries. The information listed out on this page is gathered through the use
                    of the complex queries and includes urgent patient cases, medical staff stats, and other calculated
                    data.
                    <br>
                    <br>
                    Currently, there are no security features implemented. Future implementations of the 
                    project may include proper security components that ensure only authorized users are 
                    viewing and changing the hospital data in the database. However, at present, the data 
                    displayed in this web application is all dummy data. The main purpose at the moment is 
                    to allow users to examine the database through the interface. For more details on the 
                    project, see the attached PDF document below.
                </p>
                <div class="about-info">
                    <!-- Create a link for downloading the user help manual -->
                    <span class="about-span"><a class="about-anchor" href="/download_info">View Project Document <i class="download-icon fa-solid fa-file-arrow-down"></i></a></span>  
                </div>
            </div>
        </div>
    </section>

<%- include('./partials/footer.ejs') %>