<!-- 
    The providers.ejs file displays the providers
    of the hospital are stored in the database. Each
    provider name as well as the attributes associated
    with that provider are displayed in a list format 
    on this page. Each provider entity on this page
    can be edited or removed. A new provider can  
    also be added to the databases through this page.
    It is important to note that a single provider 
    or multiple providers are related to all of the 
    patients and treatments in the hospital.
    ...
    Project: Mayo Clinic Patient Care Manager 
             (PCM) Web Application
    Author: Andrew Krause
    Class: Introduction to Database 
           Management Systems (CS 364)
    Date: 5/10/2022
    ...
-->

<%- include('./partials/header.ejs') %>

    <!-- Section for the list of providers on the webpage -->
    <section id="patients-page">
        <div class="patient-section fade-in">
            <header>
                <h1 class="patient-page-text">Providers</h1>
            </header>
        </div>
    </section>

<%- include('./partials/footer.ejs') %>