<!-- 
    The view.ejs file provides a selection of
    different view buttons that the user can  
    choose to view different parts/entities in 
    the database. Each view buttonallows the user 
    to see the entity type associated with that 
    button in the Patient Care Manager database.
    There are five view: Patients, Treatments, 
    Providers, Departments, and Statistics. An 
    "Exit" option is provided to bring the user 
    back to the home page.
    ...
    Project: Mayo Clinic Patient Care Manager 
             (PCM) Web Application
    Author: Andrew Krause
    Class: Introduction to Database 
           Management Systems (CS 364)
    Date: 5/10/2022
    ...
-->

<%- include('./partials/header.ejs') %>

    <!-- Section for the views page -->
    <section id="views-section">
        <header>
            <h1 class="view-page-text">Select Category to View</h1>
        </header>
        <div class="view-ordering">
            <!-- Create a div to organize all of the view buttons -->
            <div class="view-buttons">
                <a id="patient-icon" class="view-container" href="/patients">
                    <!-- <i class="fa-solid fa-heart-pulse"></i> -->
                    <span class="view-icon"><i class="fa-solid fa-bed-pulse"></i></span> Patients
                </a>
                <a id="treatment-icon" class="view-container" href="/treatments">
                    <!-- <i class="fa-solid fa-kit-medical"></i> -->
                    <!-- <i class="fa-solid fa-vial"></i> -->
                    <!-- <i class="fa-solid fa-prescription-bottle-medical"></i> -->
                    <!-- <i class="fa-solid fa-flask"></i> -->
                    <span class="view-icon"><i class="fa-solid fa-hand-holding-medical"></i></span> Treatments
                </a>
                <a id="provider-icon" class="view-container" href="/providers">
                    <span class="view-icon"><i class="fa-solid fa-user-doctor"></i></span> Providers
                </a>
                <a id="department-icon" class="view-container" href="/departments">
                    <!-- <i class="fa-solid fa-briefcase-medical"></i> -->
                    <!-- <i class="fa-solid fa-user-group"></i> -->
                    <!-- <i class="fa-solid fa-people-group"></i> -->
                    <span class="view-icon"><i class="fa-solid fa-stethoscope"></i></span> Departments
                </a>
                <a id="statistics-icon" class="view-container" href="/statistics">
                    <span class="view-icon"><i class="fa-solid fa-chart-column"></i></span> Statistics
                </a>
                <a id="exit-view-icon" class="view-container" href="/home">
                    <!-- <i class="fa-solid fa-xmark"></i> -->
                    <span class="view-icon"><i class="fa-solid fa-circle-xmark"></i></span> Exit
                </a>
            </div>
        </div>
    </section>

<%- include('./partials/footer.ejs') %>