/**
 * The CSS in this file provides styles for the
 * PATIENT-NEW page on the Mayo Clinic web application.
 * The styles are applied to the patient-new.ejs file
 * to make the web application appear in a simple, 
 * clean format. 
 *
 * Author: Andrew Krause
 * Date: 05/10/2022
 *
 */

/* ====================================================================
                        CREATE PATIENTS Page
==================================================================== */

#patient-create-page {
    padding-top: 130px;
    color: var(--whiter-color);
    background-color: var(--black-color);
}

.patient-create-page-text {
    font-size: clamp(2.5rem, 2.85rem, 3.5rem); 
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding-left: 40px;
    padding-right: 40px;
}

.patient-create-ordering {
    margin-top: 20px;
    padding-right: 20px;
    padding-left: 20px;
}

.patient-create-item {
    margin-top: 30px;
    margin-bottom: 60px;
}

.patient-create-name {
    max-width: 800px;
    font-size: 25px;
    text-decoration: none;
    color: var(--black-font);
    background-color: var(--gray-color);
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 20px;
    padding-left: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    border: 2px solid var(--gray-color);
}

.patient-create-name-text {
    margin: 0;
}

/* ==================================================================== */
/* SECTION OF STYLING FOR DROPDOWN-CHECKBOX FIELD (THIS CAN BE USED FOR */
/* ALL PAGES) */
/* ==================================================================== */
.selectBox {
    position: relative;
}
    
.selectBox select {
    width: 100%;
}
    
.overSelect {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.all-selector-checkboxes {
    display: none;
    border: 3px solid var(--blue-background);
}

.all-selector-checkboxes label {
    display: block;
    background-color: white;
}
/* ==================================================================== */

@media all and (max-width: 650px) { 

    .patient-create-card {
        max-width: 800px;
        font-size: 25px;
        text-decoration: none;
        color: var(--black-font);
        background-color: var(--white-background);
        margin: 0;
        padding-top: 20px;
        padding-bottom: 20px;
        padding-right: 20px;
        padding-left: 20px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 30px;
        border: 2px solid var(--gray-color);
        /* display: flex;
        flex-direction: column;
        justify-content: flex-start; */
    }
}

@media all and (min-width: 650px) { 

    .patient-create-card {
        max-width: 800px;
        font-size: 25px;
        text-decoration: none;
        color: var(--black-font);
        background-color: var(--white-background);
        margin: 0;
        padding-top: 20px;
        padding-bottom: 20px;
        padding-right: 20px;
        padding-left: 20px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 30px;
        border: 2px solid var(--gray-color);
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
    }
}

.patient-create-inline {
    display: inline-block;
}

@media all and (max-width: 650px) { 

    .patient-create-column {
        margin-right: 0px;
        max-width: 400px;
        width: 100%;
    }
}

@media all and (min-width: 650px) { 

    .patient-create-column {
        margin-right: 10px;
        max-width: 400px;
        width: 50%;
    }
}

/* THIS APPLIES TO ALL CREATE/EDIT TABLES ON THE WEBSITE */
.patient-create-text-info {
    font-family: 'Cardo', serif;
    font-size: 25px;
    text-decoration: none;
    margin: 10px;
    margin-top: 0;
}

.patient-create-buttons {
    display: grid;
    grid-template-columns: 50% 50%;
    margin: 0;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

#patient-create-icon1 span i {
    display: inline-block;
    transition: 0.1s;
}

#patient-create-icon1:hover span i {
    color: var(--blue-font);
    transform: scale(1.15);
}

#patient-create-icon2 span i {
    display: inline-block;
    transition: 0.1s;
}

#patient-create-icon2:hover span i {
    color: var(--blue-font);
    transform: scale(1.15);
}
