/**
 * The CSS in this file provides styles for the
 * PATIENT-EDIT page on the Mayo Clinic web application.
 * The styles are applied to the patient-edit.ejs file
 * to make the web application appear in a simple, 
 * clean format. 
 *
 * Author: Andrew Krause
 * Date: 05/10/2022
 *
 */

/* ====================================================================
                        EDIT PATIENTS Page
==================================================================== */

#patients-edit-page {
    padding-top: 130px;
    color: var(--whiter-color);
    background-color: var(--black-color);
}

.patient-edit-page-text {
    font-size: clamp(2.5rem, 2.85rem, 3.5rem); 
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding-left: 40px;
    padding-right: 40px;
}

.patient-edit-ordering {
    margin-top: 20px;
    padding-right: 20px;
    padding-left: 20px;
}

.patient-edit-items {
    margin-top: 30px;
    margin-bottom: 60px;
}

/* ==================================================================== */
/* SECTION OF STYLING FOR INPUT FIELDS (THIS CAN BE USED FOR ALL PAGES) */
/* ==================================================================== */
.name-input {
    width: 100%;
    height: 35px;
    padding: 12px 20px;
    margin: 0;
    box-sizing: border-box;
    border: 3px solid #ccc;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
    font-size: 25px;
}

.name-input:focus {
    border: 3px solid var(--blue-background);
}

select {
    width: 100%;
    height: 35px;
    padding: 0px 20px;
    margin: 0;
    color: gray;
    box-sizing: border-box;
    border: 3px solid #ccc;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
    font-size: 25px;
}

select:focus {
    width: 100%;
    height: 35px;
    padding: 0px 20px;
    margin: 0;
    color: gray;
    box-sizing: border-box;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
    font-size: 25px;
    border: 3px solid var(--blue-background);
}

input[type=text] {
    width: 100%;
    height: 35px;
    padding: 0px 20px;
    margin: 0;
    box-sizing: border-box;
    border: 3px solid #ccc;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
}
    
input[type=text]:focus {
    border: 3px solid var(--blue-background);
}

input[type=number] {
    width: 100%;
    height: 35px;
    padding: 0px 20px;
    margin: 0;
    box-sizing: border-box;
    border: 3px solid #ccc;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
}

input[type=number]:focus {
    border: 3px solid var(--blue-background);
}

input[type=tel] {
    width: 100%;
    height: 35px;
    padding: 0px 20px;
    margin: 0;
    box-sizing: border-box;
    border: 3px solid #ccc;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
}

input[type=tel]:focus {
    border: 3px solid var(--blue-background);
}

input[type=email] {
    width: 100%;
    height: 35px;
    padding: 0px 20px;
    margin: 0;
    box-sizing: border-box;
    border: 3px solid #ccc;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
}

input[type=email]:focus {
    border: 3px solid var(--blue-background);
}

.date-input {
    width: 100%;
    height: 35px;
    padding: 0px 20px;
    margin: 0;
    box-sizing: border-box;
    border: 3px solid #ccc;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
}

.date-input:focus {
    width: 100%;
    height: 35px;
    padding: 0px 20px;
    margin: 0;
    box-sizing: border-box;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
    border: 3px solid var(--blue-background);
}
/* ==================================================================== */

/* ==================================================================== */
/* SECTION OF STYLING FOR CHECKBOX FIELD (THIS CAN BE USED FOR ALL PAGES) */
/* ==================================================================== */
input[type="checkbox"] {
    appearance: none;
    background-color: #fff;
    margin: 0;
    font: inherit;
    color: currentColor;
    width: 1.15em;
    height: 1.15em;
    border: 0.15em solid #ccc;
    border-radius: 0.15em;
    transform: translateY(-0.075em);
    display: grid;
    place-content: center;
}

input[type="checkbox"]::before {
    content: "";
    width: 0.65em;
    height: 0.65em;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    background-color: var(--blue-background);
    transform-origin: center;
    clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
}

input[type="checkbox"]:checked::before {
    transform: scale(1);
}

.checkbox-structure {
    display: block;
    margin-left: 10px;
    margin-top: 0;
}

.checkbox-item {
    display: inline-block;
}
/* ==================================================================== */

.patient-edit-name {
    max-width: 800px;
    font-size: 25px;
    text-decoration: none;
    color: var(--black-font);
    background-color: var(--gray-color);
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 20px;
    padding-left: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    border: 2px solid var(--gray-color);
}

.patient-edit-name-text {
    margin: 0;
}

@media all and (max-width: 650px) { 

    .patient-edit-card {
        max-width: 800px;
        font-size: 25px;
        text-decoration: none;
        color: var(--black-font);
        background-color: var(--white-background);
        margin: 0;
        padding-top: 20px;
        padding-bottom: 20px;
        padding-right: 20px;
        padding-left: 20px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 30px;
        border: 2px solid var(--gray-color);
        /* display: flex;
        flex-direction: column;
        justify-content: flex-start; */
    }
}

@media all and (min-width: 650px) { 

    .patient-edit-card {
        max-width: 800px;
        font-size: 25px;
        text-decoration: none;
        color: var(--black-font);
        background-color: var(--white-background);
        margin: 0;
        padding-top: 20px;
        padding-bottom: 20px;
        padding-right: 20px;
        padding-left: 20px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 30px;
        border: 2px solid var(--gray-color);
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
    }
}

.patient-edit-inline {
    display: inline-block;
}

@media all and (max-width: 650px) { 

    .patient-edit-column {
        margin-right: 0px;
        max-width: 400px;
        width: 100%;
    }
}

@media all and (min-width: 650px) { 

    .patient-edit-column {
        margin-right: 10px;
        max-width: 400px;
        width: 50%;
    }
}

.patient-edit-text-info {
    text-decoration: none;
    margin: 10px;
}

.patient-edit-buttons {
    display: grid;
    grid-template-columns: 50% 50%;
    margin: 0;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

#patient-edit-icon1 span i {
    display: inline-block;
    transition: 0.1s;
}

#patient-edit-icon1:hover span i {
    color: var(--blue-font);
    transform: scale(1.15);
}

#patient-edit-icon2 span i {
    display: inline-block;
    transition: 0.1s;
}

#patient-edit-icon2:hover span i {
    color: var(--blue-font);
    transform: scale(1.15);
}

.no-patient-edit-data {
    font-size: 25px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    margin-bottom: 40px;
}
